<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prakash's Video Chat</title>
  <% include _header %>
</head>
<body>
  <div id="logoContainer"></div>

  <div class="container">
<div id="insideContainer">
 
  </a>
  
  <% if(error) {%>
    <%= error %>
  <% }else{ %>
    <% if(archive.url) {%>
      <h1> Archive : <%= archive.name %></h1>

      <div id="roomContainer">
        <video id="archiveVideo" src="<%= archive.url %>" autoplay="" controls="true"></video>
        <br>
        <br>

        <a href="<%= archive.url %>" id="submitButton" class="actionButton" download>Download</a>
      </div>
    <% }else{ %>
      <p>Archive is not ready. Please check back in a few minutes.</p>
      <p>Archive ID: <%= archive.id %></p>
    <% } %>

  <% } %>

</div>
  </div>

  <% include _vendor %>
  <link rel="stylesheet" href="/css/index.css" />
  <script src="/js/index.js" type="text/javascript"></script>
  <script>
    var video = document.getElementById('archiveVideo');
    video.addEventListener('loadedmetadata', function(){
      verticalCenter();
    });
  </script>
  <% include _analytics %>
</body>
</html>
